@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Lexend", sans-serif;
}

.btn-bg{
  background-color: #0BE58A;
}
.btn-text{
  color: #150B2B;
}