@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Lexend", sans-serif;
}

.btn-bg{
  background-color: #0BE58A;
}
.btn-text{
  color: #150B2B;
}
.sm-color{
  color: #878787;
}


.bg_div {
  background-image: url('../src/banner-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
}